# ROOT File
openapi: 3.1.1
info:
  title: BotiQ E-commerce API
  description: |-
    An e-commerce API that allows various operations related to products, categories, and shopping carts.
  version: 1.0-SNAPSHOT
servers:
  - url: https://testenvironment.org/api/v1
  - url: https://prodenvironment.org/api/v1
tags:
  - name: products
    description: Operations related to products
  - name: categories
    description: Operations related to product categories
  - name: cart
    description: Operations related to shopping carts

paths:
  /users:
    $ref: './paths/users.yaml#add_user'
  /users/{phoneNum}:
    $ref: './paths/users.yaml#get_user'
  /users/{userPhoneNum}:
    $ref: './paths/users.yaml#update_user'

  /botiqs:
    $ref: './paths/botiqs.yaml#add_botiq'
  /botiqs/all:
    $ref: './paths/botiqs.yaml#get_all_botiqs'
  /botiqs/{botiqId}:
    $ref: './paths/botiqs.yaml#get_botiq_details'

  /products:
    $ref: './paths/products.yaml#add_product'

  /addresses:
    $ref: './paths/addresses.yaml#add_address'
  /addresses/{userId}:
    $ref: './paths/addresses.yaml#get_address'
  /addresses/{addressId}:
    $ref: './paths/addresses.yaml#update_address'
  /addresses/{addressIdToDel}:
    $ref: './paths/addresses.yaml#delete_address'

  /legal/tandc:
    $ref: './paths/legal.yaml#tandc'
  /legal/privacy_policy:
    $ref: './paths/legal.yaml#privacy_policy'

components:
  # Reusable schemas (data models)
  schemas:
    User:
      $ref: './components/schemas/user.yaml#User'
    BotiQ:
      $ref: './components/schemas/BotiQ.yaml#BotiQ'
    Product:
      $ref: './components/schemas/product.yaml#Product'
    DeliveryAddress:
      $ref: './components/schemas/DeliveryAddress.yaml#DeliveryAddress'
    ApiResponse:
      $ref: './components/schemas/ApiResponse.yaml#ApiResponse'

  # Reusable path, query, header and cookie parameters
  #parameters: ...

  # Security scheme definitions (see Authentication)
  #securitySchemes: ...

  # Reusable request bodies
  #requestBodies: ...

  # Reusable responses, such as 401 Unauthorized or 400 Bad Request
  #responses: ...

  # Reusable response headers
  #headers: ...

  # Reusable examples
  #examples: ...

  # Reusable links
  #links: ...

  # Reusable callbacks
  #callbacks: