# ROOT File
openapi: 3.1.1
info:
  title: BotiQ E-commerce API
  description: |-
    An e-commerce API that allows various operations related to products, categories, and shopping carts.
  version: 1.0-SNAPSHOT
servers:
  - url: https://testenvironment.org/api/v1
  - url: https://prodenvironment.org/api/v1
tags:
  - name: products
    description: Operations related to products
  - name: categories
    description: Operations related to product categories
  - name: cart
    description: Operations related to shopping carts

paths:
  /users:
    $ref: './paths/users.yaml#add_user'
  /users/{phoneNum}:
    $ref: './paths/users.yaml#get_user'
  /users/{userPhoneNum}:
    $ref: './paths/users.yaml#update_user'

  /botiqs:
    $ref: './paths/botiqs.yaml#add_botiq'
  /botiqs/all:
    $ref: './paths/botiqs.yaml#botiqs_list'
  /botiqs/{botiqId}:
    $ref: './paths/botiqs.yaml#get_botiq_details'

  /products:
    $ref: './paths/products.yaml#add_product'
  /products/{productId}:
    $ref: './paths/products.yaml#get_product_details'
  /products/all:
    $ref: './paths/products.yaml#products_list'

  /botiq_products/add:
    $ref: './paths/botiq_products.yaml#add_product_to_botiq'
  /botiq_products/remove/{botiqProductId}:
    $ref: './paths/botiq_products.yaml#remove_product_from_botiq'
  /botiq_products/all/{botiqId}:
    $ref: './paths/botiq_products.yaml#get_all_botiq_products'
  /botiq_products/{botiqId}/cat/{category}:
    $ref: './paths/botiq_products.yaml#get_botiq_products_by_category'

  /orders/new:
    $ref: './paths/orders.yaml#order_new'
  /orders/cart_add_product/{productId}:
    $ref: './paths/orders.yaml#add_product_to_cart'
  /orders/cart_remove_product/{productId}:
    $ref: './paths/orders.yaml#remove_product_frm_cart'
  /orders/submit:
    $ref: './paths/orders.yaml#order_submit'

  /botiq_followers/follow:
    $ref: './paths/botiq_followers.yaml#follow_botiq'
  /botiq_followers/unfollow/{botiqId}/{followUsrId}:
    $ref: './paths/botiq_followers.yaml#unfollow_botiq'
  /botiq_followers/following_users_cnt/{botiqId}:
    $ref: './paths/botiq_followers.yaml#botiq_followers_cnt'
  /botiq_followers/botiqs_followed/{userId}:
    $ref: './paths/botiq_followers.yaml#botiqs_followed_by_user'

  /rate_review/rating:
    $ref: './paths/ratings_reviews.yaml#add_rating'
  /rate_review/review:
    $ref: './paths/ratings_reviews.yaml#add_review'
  /rate_review/{productId}:
    $ref: './paths/ratings_reviews.yaml#get_ratings_reviews'

  /wishlist/create:
    $ref: './paths/wishlist.yaml#create_wishlist'
  /wishlist/{wishlistId}/add_item:
    $ref: './paths/wishlist.yaml#add_item_to_wishlist'
  /wishlist/default/{userId}/add_item:
    $ref: './paths/wishlist.yaml#add_item_to_default_wishlist'
  /wishlist/remove_item/{wishlistItemId}:
    $ref: './paths/wishlist.yaml#remove_item'
  /wishlist/{wishlistId}/all_items:
    $ref: './paths/wishlist.yaml#get_wishlist_items'

  /addresses:
    $ref: './paths/addresses.yaml#add_address'
  /addresses/{userId}:
    $ref: './paths/addresses.yaml#get_address'
  /addresses/{addressId}:
    $ref: './paths/addresses.yaml#update_address'
  /addresses/{addressIdToDel}:
    $ref: './paths/addresses.yaml#delete_address'

  /legal/tandc:
    $ref: './paths/legal.yaml#tandc'
  /legal/privacy_policy:
    $ref: './paths/legal.yaml#privacy_policy'

components:
  # Reusable schemas (data models)
  schemas:
    User:
      $ref: './components/schemas/user.yaml#User'
    BotiQ:
      $ref: './components/schemas/BotiQ.yaml#BotiQ'
    Product:
      $ref: './components/schemas/product.yaml#Product'
    BotiqProduct:
      $ref: './components/schemas/BotiqProduct.yaml#BotiqProduct'
    OrderDetails:
      $ref: './components/schemas/OrderDetails.yaml#OrderDetails'
    OrderItem:
      $ref: './components/schemas/OrderItem.yaml#OrderItem'
    BotiqFollower:
      $ref: './components/schemas/BotiqFollowers.yaml#BotiqFollower'
    RatingReview:
      $ref: './components/schemas/RatingReview.yaml#RatingReview'
    Wishlist:
      $ref: './components/schemas/wishlist.yaml#Wishlist'
    WishlistItem:
      $ref: './components/schemas/wishlistItem.yaml#WishlistItem'
    DeliveryAddress:
      $ref: './components/schemas/DeliveryAddress.yaml#DeliveryAddress'
    ApiResponse:
      $ref: './components/schemas/ApiResponse.yaml#ApiResponse'

  # Reusable path, query, header and cookie parameters
  #parameters: ...

  # Security scheme definitions (see Authentication)
  #securitySchemes: ...

  # Reusable request bodies
  #requestBodies: ...

  # Reusable responses, such as 401 Unauthorized or 400 Bad Request
  #responses: ...

  # Reusable response headers
  #headers: ...

  # Reusable examples
  #examples: ...

  # Reusable links
  #links: ...

  # Reusable callbacks
  #callbacks: