# ROOT File
openapi: 3.1.1
info:
  title: TexStre E-commerce API
  description: |-
    An e-commerce API that allows various operations related to products, categories, and shopping carts.
  version: 1.0-SNAPSHOT
servers:
  - url: https://testenvironment.org/api/v1
  - url: https://prodenvironment.org/api/v1
tags:
  - name: products
    description: Operations related to products
  - name: categories
    description: Operations related to product categories
  - name: cart
    description: Operations related to shopping carts

paths:
  /users/{userId}:
    get:
      summary: Get a user by ID
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: integer
            minimum: 1
            description: The unique identifier of the user.
      operationId: getUserById
      responses:
        "200":
          description: A single user.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
  /users:
    post:
      summary: Add a new User
      operationId: createUser
      requestBody:
        description: Create a new User
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
      responses:
        "201":
          description: Created

components:
  # Reusable schemas (data models)
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        gender:
          type: string

  # Reusable path, query, header and cookie parameters
  #parameters: ...

  # Security scheme definitions (see Authentication)
  #securitySchemes: ...

  # Reusable request bodies
  #requestBodies: ...

  # Reusable responses, such as 401 Unauthorized or 400 Bad Request
  #responses: ...

  # Reusable response headers
  #headers: ...

  # Reusable examples
  #examples: ...

  # Reusable links
  #links: ...

  # Reusable callbacks
  #callbacks: